.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #2ca2f0e1;
    font-size: 12px;
    border: 1px solid #2ca2f0e1;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

